@font-face {
  font-family: 'Helvetica Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../font/Helvetica-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica Light';
  font-style: normal;
  font-weight: normal;
  src: url('../font/helvetica-light-587ebe5a59211.woff') format('woff');
}

body {
  background: center / contain no-repeat url('../img/backLogin.png');
}

.logo {
  transform: translate(40%, 15%);
}

.infos__title {
  color: white;
  font-family: 'Helvetica Bold', sans-serif;
  font-size: 20px;
  margin: 20px 0;
  letter-spacing: 2px;
}

.alert {
  font-family: 'Helvetica Light';
  font-size: 12px;
  color: red;
  text-align: center;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 85vh;
  background-color: #74AE5A;
  margin: auto;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 35vh;
  background-color: #74AE5A;
  transform: translateY(22.5vh);
  margin: auto;
}

.infos__user {
  width: 60%;
  height: 5vh;
  margin: 10px 0;
  padding: 0 5px;
  border: none;
  font-family: 'Helvetica Light', sans-serif;
}

.infos__button {
  width: 10vw;
  height: 5vh;
  background-color: white;
  font-family: 'Helvetica Bold', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: #74AE5A;
  border: none;
  border-radius: 30px;
  margin-bottom: 1vh;
}

.infos label {
  color: white;
}