@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: url('../font/Helvetica.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Oblique';
  font-style: normal;
  font-weight: normal;
  src: url('../font/Helvetica-Oblique.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../font/Helvetica-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Light';
  font-style: normal;
  font-weight: normal;
  src: url('../font/helvetica-light-587ebe5a59211.woff') format('woff');
}

body {
  font-family: 'Helvetica';
}

/*    HEADER    */
.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu li {
  display: inline-block;
  width: 150px;
  font-family: 'Helvetica Light', sans-serif;
  font-size: 12px;
}

.header__search {
  width: 200px;
}

.header__account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13vw;
  height: 5vh;
}

.account {
  width: 40vw;
}

.account a {
  font-family: 'Helvetica Light', sans-serif;
  font-size: 12px;
}

.account--login {
  color: #74AE5A;
}

.account--creation {
  color: white;
  background-color: #74AE5A;
  border-radius: 5px;
  width: 60%;
  text-align: center;
}

.line {
  position: absolute;
  left: 12.3vw;
}

/*    ALERT   */
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  background-color: #74AE5A;
  color: white;
  font-family: 'Helvetica';
  font-size: 12px;
}

/*    MAIN    */
.main {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  transform: translate(10vw, 2vh);
}

.map_img {
  height: 70vh;
}

.actualites {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30vw;
  height: 18vh;
}

.actualites__area {
  width: 100%;
  height: 100%;
  border: 0.5px solid #C5C5C5;
  border-radius: 5px;
  resize: none;
}

.actualites__button {
  width: 25%;
  height: 20%;
  background-color: #74AE5A;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 1px;
  margin-top: 2%;
}

.actu {
  display: flex;
  flex-direction: column;
}

.all__publication {
  width: 30vw;
}

.publication {
  width: 100%;
  margin: 2vh 0;
  background-color: #F6F6F6;
  padding: 2%;
}

.name {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  margin-bottom: 2%;
}

.contenu {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
}

.contenu img {
  width: 100%;
  object-fit: contain;
}

.date {
  font-size: 10px;
  color: rgb(136, 136, 136);
  margin-top: 5%;
}

.pubs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pub--center {
  margin: 5% 0;
}